# OS cruft
.DS_Store
Thumbs.db
desktop.ini

# Editors/IDEs
.vscode/
.idea/
*.swp

# Dependencies & builds
node_modules/
dist/

# Local env & tools
.env
.env.*
.netlify/
.vercel/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

