@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
  height: 100%;
}
html {
  scroll-behavior: smooth;
}

.button {
  background-color: var(--accent-color);
  color: white;
  padding: 12px 28px;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.button:hover {
  background-color: darken(var(--accent-color), 10%);
}


@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, .fancy-heading {
  font-family: 'Poppins';
}

